body {
    font-family: sans-serif;
}
.container {
    text-align: center;
    margin-top: 30px;
}
.title {
    font-size: 38px;
    text-align: left;
    margin-bottom: .3rem;
}
.btn {
    margin: 18px;
    background-color: #008CBA;
    border: none;
    padding: 12px 28px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
    margin-left: 0;
}
.value {
    font-size: 180px;
    font-weight: 900;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.mw850{
    max-width: 850px;
    margin: 0 auto;
}
.mw900{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 2rem;
    border-top: 1px solid #000;
}
.col6{
    width: 50%;
    float: left;
}
.col6md{
    width: 50%;
    float: left;
}
.col8{
    width: 60%;
    float: left;
    text-align: left;
}
.col4{
    width: 40%;
    float: left;
}
.p1 {
    padding: 1rem 0;
}
.p2 {
    padding: 2rem 0;
}
.link{
    text-decoration: none;
    color: #308CBA;
    font-weight: 600;
}
.black{
    background-color: #000000!important;
    text-decoration: none;
    margin-top: 2rem;
}
.mt{
    margin-top: 3rem;
}
@media (max-width: 600px) {
    .col6md{
        width: 100%;
    }
    .col4{
        width: 100%;
        text-align: center;
    }
    .col8{
        width: 100%;
        text-align: center;
    }
    .value{
        font-size: 100px;
    }

}
